*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    height: 100vh;
}
main{
    background: url(https://images.unsplash.com/photo-1465146344425-f00d5f5c8f07?q=80&w=876&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
    text-align: center;
    position: relative;
}
.overlay{
    background-color: #000;
    position: absolute;
    inset: 0;
    opacity: .8;
}
h1, p, button{
    z-index: 1;
}
h1{
    font-size: 40px;
}
p{
    width: 100%;
    max-width: 40rem;
}

button{
    padding: .5rem 1rem;
    border: none;
    border-radius: 20px;
    background-color: blueviolet;
    color: #ffffff;
    cursor: pointer;
    transition: .5s;
}
button:hover{
    background-color: rgb(110, 66, 151) ;

}